<h1>Showing selected movie</h1>
<p>
 Title: <%= @movie.title %>
</p>

<p>
 Description: <%= @movie.desc %>
</p>

<p>
 Genres: <%= @movie.genres %>
</p>

<p>
 Language: <%= @movie.original_language %>
</p>